.c-games-list {
  width: 100%;
  td,th {
    margin: 0;
    padding: 0.25em 0.5em;
  }
  
  &__header {
    &-sorter {
      font-weight: bold;

      &.is-sorting::after {
        content: '▲';
      }
      
      &.is-reversed::after {
        content: '▼';
      }
      
      &.can-sort {
        cursor: pointer;
      }
    }
  }
}